@{
    ViewBag.Title = "Contact";
}
<h2>Liên hệ</h2>
<h3>Trang liên hệ với chúng tôi</h3>

<address>
    <h4>PRODUCT & ORDERS</h4>
    1-800-806-6453<br />
    4 am - 11 pm PT<br />
    7 days a week<br />
</address>
<address>
    <h4>NRC & NTC</h4>
    1-800-379-6453<br/>
    8 am - 5 pm PT<br/>
    Mon - Fri<br/>
</address>
<address>
    <h4>COMPANY INFO & INQUIRIES</h4>
    1-800-344-6453<br />
    7 am - 4 pm PT<br />
    Mon - Fri<br/>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>