
@{
    ViewBag.Title = "Sale";
}

<h2>Sale Off 50%+++</h2>

<div class="dt">
    @Html.Action("nikePartial_sale", "Sanpham")
</div>
<div class="dt">
    @Html.Action("addidaspartial_sale", "Sanpham")
</div>

<div class="dt">
    @Html.Action("conversepartial_sale", "Sanpham")
</div>

