
<div class="row">
    <div class=" bg-danger"><h3 style="padding-left:20px"> NIKE </h3></div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                <img src=@Url.Content("~/HinhanhSP/"+item.Anhbia) class="img-responsive" alt="" width="400" height="400" />
            </a>
            <center>
                <h3>@item.Tensp</h3>
                <span style='text-decoration: line-through'><h3>5000000 VND</h3></span>
                <span style="color:red"><h3>@item.Giatien VND</h3></span>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" value="Mua hàng" id="bgnGioHang" />

                }
                <h4> <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a></h4>
            </center>

        </div>
    }
</div>

